/*GLOBAL-STYLES */
:root {
  --accent-color: #7297EF;
}

html {
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

* {
  box-sizing: border-box;
}

*:focus{
  outline: 2px dashed #2959cb;
  outline-offset: 2px;
}


body{
  display: flex;
  flex-direction:column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #4a4b4c;
  background-color: #fff;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  display: inline-block;
  border-radius: 10px;
  bottom: 0;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}

.button-block{
  display: block;
  width: 100%;
  border: 0;
}

.button-primary {
  background-color: #7296ec;
  color:#fff;
}

.button-orange{
  background-color: #f78b3b;
  color: #fff;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER-TOP */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}
.site-header-logo {
  display: flex;
  margin-right: 35px;
  border-radius: 7px;
  padding: 8px 6px;
  background-color: #fff;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

/* GLOBAL SEARCH FORM */
.global-search-form-input{
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 60px;
  border: 0;
  font-size: 14px;
  line-height: normal;
  margin-right: 25px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
}

/* CURRENCY RATES */
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none ;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959cb;
}

/* LANG-TOGGLE */
.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
}
.lang-toggle-link {
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #a6a6a6;
  border-radius: 50%;
}
.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}


/* SITENAV */
.site-nav{
  border-bottom: 1px solid #d1d1d1;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 40px;
  line-height: normal;
  font-size: 18px;
  font-weight: 500;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34px;
}
.sitenav-link {
  display: block;
  color: #7f7f7f;
  text-decoration: none;
}
.sitenav-link:hover{
  color: #7296ec;
}
.sitenav-link:active{
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner-link{
  display: flex;
  margin-bottom: 45px;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 50px;
}

/* NEWS-GRID */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}
.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.article-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #F6F6F6;
  padding: 20px 17px 15px;
}
.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.article-card-link {
  display: inline-block;
  text-decoration: none;
  color:#000;
}
.article-card-link:hover{
  color:#7296ec; 
}
.article-card-link:active{
  opacity: 0.6; 
}
.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}
.article-card-img { 
  display: block;
  width: 360px;
  height: 165px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 15px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}

/* NOTIFICATION-CTA */
.notification-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 75px;
  padding: 25px 70px 25px 25px;
  background-image: url("../img/bg_img_not.jpg");
  border-radius: 10px;
}

.notification-cta-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #000;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .notification-cta{
    background-image: url("../img/bg_img_not@2x.jpg");
  }
}


/* GLOBAL-NEWS */
.global_news_heading {
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  color:#000;
  margin-top: 0;
  margin-bottom: 20px;
}
.news-list {
  display: flex;
  flex-direction: column;
}
.news-lit-item:not(:last-child) {
  margin-bottom: 10px;
}

/* ARTICLE-CARD-HORIZONTAL */
.article-card-horizontal {
  display: flex;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px;
}
.article-card-horizontal-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 10px;
}
.article-card-horizontal-content {
  flex-grow: 1;
}
.article-card-horizontal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.article-card-horizontal-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.article-card-horizontal-link:hover{
  color: var(--accent-color);
}
.article-card-horizontal-link:active{
  color: var(--accent-color);
  opacity: 0.6;
}
.article-card-horizontal-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}
.article-card-horizontal-footer {
  display: flex;
  align-items: center;
}
.article-card-horizontal-source-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}
.article-card-horizontal-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}

.news-list-more-button{
  padding: 17px; 
  margin: 17px 0px 100px;
}

/* LAYOUT */
.layout-2-1{
  display: flex;
  align-items: flex-start;
}

.layout-2-1-main{
  width: 797px;
  margin-right: 10px;
}

.layout-2-1-sidebar{
  width: 393px;
  margin-top: 0px;
}
.layout-2-1-sidebar-item:not(:last-child){
  margin-bottom: 10px;
}

/* SIDEBAR-NEWS-CARD */
.sidebar-news-card {
  background-color:#f6f6f6;
  border-radius: 15px;
  color: #000;
  padding: 20px;
}
.sidebar-news-card-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.sidebar-news-card-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-news-card-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar-news-card-item:first-child{
  padding-top: 0;
}
.sidebar-news-card-item:last-child{
  padding-bottom: 0;
}
.sidebar-news-card-item:not(:last-child){
  border-bottom: 1px solid #d2d2d2;
}
.sidebar-news-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-news-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.sidebar-news-card-link:hover {
  color: var(--accent-color);
}
.sidebar-news-card-link:active {
  color: var(--accent-color);
  opacity: 0.6;
}

.sidebar-news-card-source-time {
  font-size: 13px;
  line-height: normal;
  color: #5E5F61
}

/* SIDEBAR-AD */
.sidebar-ad-link{
  display: flex;
}
.sidebar-ad-img{
  width: 393px;
  height: 338px;
  object-fit: cover;
  border-radius: 15px;
}

.sidebar-ad-img-pg2{
  width: 393px;
  height: 553px;
}


/* FOOTER */
.site_footer{
  height: auto;
  background-color:  var(--accent-color);
}
.site_footer_main_box {
  margin: 40px auto;
  padding: 0px 100px;
  color: #fff;
}
.site_footer_box {
  display: flex;
}
.site-footer-logolink {
  display: block;
  text-decoration: none;
  color: #fff;
}
.site-footer-logolink:hover{
  opacity: 0.8;
}
.site-footer-logolink:active{
  opacity: 0.6;
}

.site_footer_logo_header {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.44px;
  margin-bottom: 15px;
}
.site_footer_warning {
  width: 229px;
  height: 95px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin: 0px 203px 71px 0px;
}
.site_footer_info a{
  color: #fff;
  text-decoration: none;
}
.site_footer_info:not(:last-child) {
  margin-right: 100px;
}
.site_footer_info_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site_footer_info_item {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  margin: 0px 0px 20px 0px;
}

.site_foote_info_link{
  display: block;
  text-decoration: none;
  color: #fff;
}
.site_footer_info_link:hover{
  color: #f78b3b;
}
.site_footer_info_link:active{
  color: #f78b3b;
  opacity: 0.7;
}

.site_footer_divider{
  color: #CECECE;
}
.socials_header {
  display: inline-block;
  width: 161px;
  height: 46px;
  color: #fff;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.socials {
  display: flex;
}
.socials_img:hover{
  border: 1px solid #fff;
}
.site_footer_socials_box{
  display: flex;
  justify-content: space-between;
}
.site_footer_socials {
  list-style: none;
  display: flex;
}
.socials:not(:last-child) {
  margin-right: 25px;
}



/* PAGE-ARTICLE */
.main-content-q{
  display: flex;
  flex-grow: 1;
  padding-top: 50;
  justify-content: space-between;
  width: 797px;
  margin-top: 10px;
  font-family: "Rubik", "Arial", sans-serif;
}
.article-text-box{
  width: 797px
}


.article-main-content-container{
  display:flex;
}
.article-title{
  display: block;
  color: #000;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  line-height: 36px;
}

.article-text{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.article-sidebar{
  height: 613px;
}

.article-sidebar-title{
  margin-bottom: 8px;
}

/* LINE */
.article-footer-line{
  color: #D2D2D2;
  margin-top: 50px;
  margin-bottom: 60px;
}

/* MINI-CONTENT */
.mini-content {
  margin-bottom: 100px;
}

.mini-content-heading {
  color: #000;
  font-size: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mini-content-box {
  display: flex;
}
.mini-content-box-item {
  background-color: #f6f6f6;
  padding: 20px 18px 15px 17px;
  border-radius: 15px;
}
.mini-content-box-item:not(:last-child){
  margin-right: 10px;
}
.mini-content-box-title {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.mini-content-box-text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #4A4B4C;
  font-size: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}


/* CONTACT */
.contact-page{
  margin-bottom: 100px;
  flex-grow: 1;
}

.contact-heading{
  display: block;
  color: #000;
  font-size: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* SEND-BOX */
.contact-info-flexbox{
  display: flex;
}

.contact-form{
  width: 696px;
  display: flex;
  width: 696px;
  flex-wrap: wrap;
  margin-right: 10px;
}


.contact-input{
  display: inline-block;
}

.contact-form-input_1{
  width: 343px;
  padding: 18px 291px 18px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  margin-right: 10px;
}

.contact-form-input_2{
  width: 343px;
  padding: 18px 194px 18px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
}

.contact-form-input_3 {
  width: 696px;
  padding: 18px 526px 18px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  margin: 10px 0;
}

.contact-form-input_4 {
  width: 696px;
  height: 180px;
  padding: 18px 632px 143px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  margin-bottom: 20px;
}

.contact-send-button{
  color: #fff;
  display: inline-flex;
  padding: 17px 30px;
  align-items: flex-start;
  border-radius: 10px;
  background:  var(--accent-color);
  border: 0;
  margin-left: 551px;
  }
  
/* CONTACT-INFO-BOX */
.contact-info-box {
  width: 494px;
  height: 310px;
  border-radius: 10px;
  background: #F6F6F6;
  padding: 40px 25px 40px 25px;
}
.contact-info-box-title {
  margin-top: 0;
  margin-bottom: 7px;
  color: #000;
  font-size: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-info-box-text {
  color: #000;
  font-size: 16px;
  font-family: "Rubik ";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-info-box-line{
  width: 444px;
  height: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MODAL */
.modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-opener {
  display: block;
}

.modal-dialog {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 50px;
  border-radius: 28px;
  background-color: #fff;
}

.modal-content {
  position: relative;
  flex-direction: column;
}

.modal-content-text {
  color: #000;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 25px;
}

.modal-close-button {
  position: absolute;
  width: 45px;
  height: 45px;
  opacity: 0.7;
  top: 25px;
  right: 40px;
  border: 0;
  border-radius: 15px;
  background: url("../img/close.svg");
  background-size: contain;
}
.modal-close-button:hover {
  opacity: 1;
  border: 2px solid #7296ec;
}

.modal-button {
  width: 187px;
  color: #fff;
  transform: translateX(150%);
  background-color: #f78b3b;
}